 
h1 {
    text-align: center;
    background: rgb(122, 241, 202) ;
}
 
p {  
    text-align: center;
    background: white;

}

strong {
    color: rgb(65, 150, 121);
}

.itens {
    font-style: italic;
}
  